@import"../css/reset.css";@import"../css/skeleton.css";@import"../css/superfish.css";@import"../css/flexslider.css";@import"../css/forms.css";
body{background:#e7e7e7 url(../images/bg-light.png) 50% 0 no-repeat;font:12px/20px Arial, Helvetica, sans-serif;color:#7c7876;position:relative;min-width:320px;}
html,body{height:100%;}


/** Embedded Tweets */
 
blockquote.twitter-tweet {
  display: inline-block;
  padding: 16px;
  margin: 10px 0;
  max-width: 468px;
 
  border: #ddd 1px solid;
  border-top-color: #eee;
  border-bottom-color: #bbb;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
 
  font: bold 14px/18px Helvetica, Arial, sans-serif;
  color: #000;
}
 
blockquote.twitter-tweet p {
  font: normal 18px/24px Georgia, "Times New Roman", Palatino, serif;
  margin: 0 5px 10px 0;
}
 
blockquote.twitter-tweet a[href^="https://twitter.com"] {
  font-weight: normal;
  color: #666;
  font-size: 12px;
}









p{padding-bottom:20px;
/*font-size:14px;*/}

/**/
/**/
/**/



/**/
/**/
/**/

ul.a {
    list-style-type: circle;
}

ul.b {
    list-style-type: square;
}

ol.c {
    list-style-type: upper-roman;
}

ol.d {
    list-style-type: lower-alpha;
}

ul.aa {
    list-style-type: circle;
	padding-left:50px;
}

ul.bb {
    list-style-type: square;
	padding-left: 50px;
}

ol.cc {
    list-style-type: upper-roman;
	padding-left: 50px;
}

ol.dd {
    list-style-type: lower-alpha;
	padding-left: 50px;
}


a{
	color: #0033CC;
	outline: none;
	cursor: pointer;
	text-decoration: none;
	
	
}

a .aa{
	color: #00F;
	outline: none;
	cursor: pointer;	
	
}
a .aa:hover{text-decoration:underline;}

a:hover{text-decoration: underline}
/*  Header styles */
h1,h2,h3,h4,h5,h6{line-height:1.2em;color:#382c27; font-weight:normal; font-family:Arial, Helvetica, sans-serif;}
h1{font-size:30px;}
h2{font-size:25px;}
h3{font-size:23px;} 
h4{font-size:20px; padding-bottom:5px;}  
h5{font-size:18px;}
h6{font-size:14px;}

/* added */
h21 {
	text-align:center;
	font-size:40px;
	font-style:normal;
	font-stretch:expanded;
	border-color:#000;
	color:#EBEBEB;
	padding-top:20px;
	width:100%;
	align-self:center;
	align-content:center;
/*	padding-left:150px;
*/	
	position:relative;
	padding-bottom:20px;
	padding-left:30px;
	}
h22 {
	text-align:center;
	font-size:18px;
	font-style:normal;
	font-stretch:expanded;
	border-color:#000;
	color:#EBEBEB;
	padding-top:10px;
	width:100%;
	align-self:center;
	align-content:left;
/*	padding-left:150px;
*/	
	position:relative;
	padding-bottom:20px;
	padding-left:32px;
	}
h36 {
	text-align:center;
	font-size:20px;
	font-style:normal;
	color:black;
}

/* Global Structure---------------------------------------- */
.bg{ width:100%; padding:0; background:url(../images/bg-content.png) 0 0 repeat;}
/*.bg{ width:100%; padding:0; background:url(../images/Fire-slider-png.png) 0 0 repeat;}
*/

/*----- txt,links,lines,titles -----*/
.clear{clear:both;line-height:0;font-size:0;overflow:hidden;height:0;width:100%;}
.wrapper{width:100%;overflow:hidden;position:relative;}
.extra-wrap{overflow:hidden;display:block;}
.fleft{float:left}
.fright{float:right}
.alignright{text-align:right}
.aligncenter{text-align:center}
.alignmiddle *{vertical-align:middle}
/*.it{ font-style:italic !important;}*/
.color1{color:#069;}
.text1{/*modified it*/
	font: 12px/16px Arial, Helvetica, sans-serif;
	color: #7c7977;
	padding-bottom: 17px;
	text-align: justify;
}
	.text1 a{ color:#7c7977;}
.text2{ font:16px/20px Arial, Helvetica, sans-serif; color:#7c7977; padding-bottom:17px;}
.und{ text-decoration:underline;}
.und:hover{ text-decoration:none;}
/********************************outermost-topmost layer*********************/
/*For now I comment this part */
/*.outermost{alignment-adjust:middle;
background-image:url(../images/Fire-slider-png.png);	
background-position:top;
background-repeat:no-repeat;}
*/
/*********************************header*************************************/
header{ position:relative; z-index:99; padding-bottom:5px;}
header.padheader{ padding-bottom:37px;}
/*modified h1 */
header h1{ padding:5px 0 0 0;}
	header h1 a{
	display: block;
	width: 82px;
	height:100px;
	text-indent: -5000px;
	background-image:url(../images/bogazicilogo.jpg);
	background-position: 0 0 no-repeat;
	background-repeat: no-repeat;
	
}
/* added */
.languagechange{text-align:right;
padding-right:20px}
/********************** Content ************************/
/*p .groupname{
	text-align:left;
	text-height:max-size;
}*/

section{ position:relative; z-index:1;}
.box-img{ display:inline-block; background:#fff; padding:0; position: relative; overflow:hidden;}
	.box-img img{ max-width:100%; height:auto;}
	a.box-img span{ display:block; background:url(../images/box-hover.png) 0 0 repeat; color:#fff; width:114px; height:103px; position:absolute; top:10px; left:10px; padding:10px 5px 10px 10px; opacity:0;
	-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease;}
	a.box-img span strong{ display:block; text-transform:uppercase;}
	a.box-img:hover span{ opacity:1;}
	a.box-img:hover{ text-decoration:none;}
.icons{ position:relative; overflow:hidden;}
	.icons li{ float:left; margin-right:3px;}
	.icons li a img{-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease;}
	.icons li a:hover img{ opacity:.7;}
	.icons.icons2{ padding:3px 0 0 0;}
	.icons.icons2 li{ float:left; margin-right:1px;}
.dropcap{ font:30px/36px Arial, Helvetica, sans-serif; color:#069; float:left; padding:2px 8px 0 5px;}
.list1 li{ background:url(../images/marker.png) 0 7px no-repeat; padding:0 0 5px 20px;}
	.list1 li a{color:#7c7876; text-transform:uppercase;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease;}
	.list1 li a:hover{color:#5cbe00; text-decoration:none;}
	.list1.list1-2 li a{ text-transform:none;}
	.list1.list1-2 li a span{ text-transform: uppercase;}
.list2{ list-style-position:inside; color:#453834; padding-bottom:40px;}
	.list2 li{font-size:12px; font-style:italic; padding:5px 0 0 0;}
	.list2 li a{ color:#7f7c7a; padding-left:2px;}
.list3{ padding-bottom:2px;}
	.list3 li{ font-weight:bold; background:url(../images/marker2.jpg) 0 7px no-repeat; padding:0 0 5px 15px;}
	.list3 ul{ padding:4px 0 0 0;}
	.list3 li li{ font-weight:normal; background:none; padding:0 0 2px 14px; font:12px/14px Arial, Helvetica, sans-serif;}
	.list3 li li a{color:#5b5755;}
.list4{ padding:16px 0 0 0;}
	.list4 li a{color:#7c7876; text-decoration:underline;}
	.list4 li a:hover{ text-decoration:none;}
/*.box{ position:relative; overflow:hidden; padding:33px 0 6px;}*/

/*modified boy for the news part */

.container {
    width: 610px;
	height: 400px;
	float: left;
    overflow-y: scroll;
    padding: 10px;
    background: inherit;
    margin: auto;
}

.boxnopad{
	position: relative;
	overflow: hidden;
	background: inherit;
	border-left-style:solid;
	border-left-width:thin;
	

}

	
.box{
	position: relative;
	overflow: hidden;
	padding: 6px 0 6px;
	border: thin solid #069;
	background: #CCC;
	background:inherit;
	}
	
.boxnb{
	position: relative;
	overflow: hidden;
	padding: 6px 0 6px;
	background: #CCC;
	background:inherit;
}
.boxmembers{
	width:100%;
	border: thin solid #069;
	background:inherit;
}
.boxwhite{
	position: relative;
	overflow: hidden;
	padding: 6px 0 6px;
	border: thin solid #069;
	background: white;
	}
.boxin{
	position: relative;
	overflow: hidden;
	padding-left:15px;
	background:inherit;
	}
header .box{
	align-content:center;
	align-items:center;
	background-image:url(../images/photo.JPG);
	padding:30px;
	}
	
	.box img{ float:center; margin:5px 10px 10px 5px;
	background-color:inherit;}
	.box p{ overflow:hidden; padding-bottom:0;}
	
	.boxnb img{float:left; margin:5px 10px 10px 5px;
	background-color:inherit;}
	.boxnb p{ overflow:hidden; padding-bottom:0;}
	.boxr{position: relative;
	overflow: hidden;
	padding: 0px;
	border-right: thin solid #069;
	background: #CCC;
	background:inherit;
	}
	.boxr p{ padding-bottom:2px;}
.box2 p{ padding-bottom:15px;}
	.box2 .fleft{ width:79px;}
	.box2 a{ margin-top:8px;}

.contacts{ font-style:normal;}
	.contacts span{ display:inline-block; width:70px;}
	.contacts p:first-child{ text-transform:uppercase; padding-bottom:25px;}
	.contacts a{ text-decoration:underline;}
	.contacts a:hover{ text-decoration:none;}
.map{ box-shadow:0 0 2px rgba(0,0,0,.1); margin:4px 0 6px 0;}
	.map iframe{ width:390px; height:312px;}
/*  Buttons */
.button{display:inline-block; font:italic 16px/24px Arial, Helvetica, sans-serif;color:#fff;padding:13px 13px 12px; border-radius:5px 5px 0 0;
	background:
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#006699), to(#006699));
	background: -webkit-linear-gradient(#006699, #006699);
	background: -moz-linear-gradient(#006699, #006699);
	background: -ms-linear-gradient(#006699, #006699);
	background: -o-linear-gradient(#006699, #006699);
	background: linear-gradient(#006699, #006699);
	-pie-background: linear-gradient(#03d1da, #03d0d9);}
	.button:hover{ text-decoration:none; background:#730A0C;-pie-background: linear-gradient(#006699, #006699);}
.button1{ display:inline-block;font:italic 15px/18px Arial, Helvetica, sans-serif; color:#1d1d1d;
	-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease;}
	.button1:hover{ text-decoration:none; color:#006699;}
.link1{ text-transform:uppercase;color:#7c7876; padding:0px;}
/******************** Footer ******************/
footer{ padding:60px 0 40px; max-width:950px; margin:0 auto; text-align:center;}
footer.padfooter{ padding-top:41px;}
	footer a{color:#7c7876; margin:1px;}
.link{ display:inline-block; margin:3px 8px 0 0;}
.linknews{display:inline-block;}
	.link img{-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease;}
	.link:hover img{ opacity:.8;}
/* padding */
.padtop5{ padding-top:25px;}
.padtop{ padding-top:26px;}
/*.padtop3{ padding-top:33px;}*/
.padleft9{padding-left:9px;}
.padleft{padding-left:38px;}
.padleftpic{padding-left:95px;}
.padleftpic2{padding-left:205px;}
.padleftpic3{padding-left:245px;}
.padpic{padding:0 12px 0 0;}
.padpic2{padding:24px 0 0 120px;}
.padtop3{ padding-top:33px;}
.padtop33{ padding-top:34px;}
.padtop22{ padding-top:43px;}
.padtop2{ padding-top:49px;}
.padtop23{ padding-top:56px;}
.padbot4{ padding-bottom:14px; padding-right:40px;}
.padbot{ padding-bottom:23px;}
.padbot2{ padding-bottom:25px;}
.padbot3{ padding-bottom:27px;}
.padbot32{ padding-bottom:30px;}
.padbot22{ padding-bottom:43px;}
.padbot6{ padding-bottom:62px;}
.pad{ padding:17px 0 12px 0;}
.pad2{ padding:2px 0 28px 0;}
.imgindent{ margin:5px 0 0 5px;}
/*==========================================*/
@media only screen and (min-width: 768px) and (max-width: 995px) {
	header h1 a{ width:156px;}
	.box-img{ display:block;}
	.padbot4{ padding-right:0;}
	.padbot22{ padding-bottom:63px;}
	.padbot23{ padding-bottom:42px;}
	.map iframe{ width:290px;}
	h21{ font-size:36px;
	padding-left:0px;}
	h22{font-size:16px;
	padding-left:0px;}
	.icons2 li a img{ width:40px; height:auto;}
}
@media only screen and (max-width: 767px) {
	header{ padding-bottom:30px;}
	header h1.fleft{ float:none; padding-bottom:20px;}
	.img1 img{ width:320px;}
	.col1{ width:140px !important; float:left;}
	.marg,.marg2{ margin-right:20px;}
	.box-img{ display:block;}
	h21{ font-size:36px;
	padding-left:0px;}
	h22{font-size:16px;
	padding-left:0px;}
	.hide{ display:block;}
	.hide2{ display:none !important;}
	.col3{ float:left; width:130px !important;}
	.col3.col3-2{ float:none; width:100% !important;}
	.col3 .box-img{ display:block;}
	.col3 .box-img span{ width:95px; height:90px; padding-top:5px;}
	.col4{ float:left;width:130px !important;}
	.map iframe{ width:300px;}
	.padbot3{ padding-bottom:0;}
	.padRT{ padding-bottom:30px;}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.img1 img{ width:420px;}
	.col1,.col2{ width:200px !important; float:left;}
	.marg{ margin-right:20px;}
	.marg2{ margin-right:0px;}
	.box-img{ display:block;}
	.hide{ display:none;}
	.col3,.col3.col3-2{ float:left; width:120px !important;}
	.col3 .box-img{ display:block;}
	.col3 .box-img span{ width:85px; height:75px; padding-top:10px;}
	h21{ font-size:24px;
	padding-left:0px;}
	h22{font-size:16px;
	padding-left:0px;}
	.col4{ float:none;width:120px !important;}
	.map iframe{ width:420px;}
	.contacts p{ float:left; margin-right:50px; padding-bottom:0;}
	.padleftpic{padding-left:0px;}
.padleftpic2{padding-left:0px;}
.padleftpic3{padding-left:0px;}
}
@media only screen and (max-width: 480px) {
	.img1 img{ width:315px;}
	.col1,.col2{ width:200px !important; float:left;}
	.marg{ margin-right:20px;}
	.marg2{ margin-right:0px;}
	.box-img{ display:block;}
	.hide{ display:none;}
	.col3,.col3.col3-2{ float:left; width:120px !important;}
	.col3 .box-img{ display:block;}
	.col3 .box-img span{ width:85px; height:75px; padding-top:10px;}
	h21{ font-size:24px;
	padding-left:0px;}
	h22{font-size:16px;
	padding-left:0px;}
	.col4{ float:none;width:120px !important;}
	.map iframe{ width:420px;}
	.contacts p{ float:left; margin-right:50px; padding-bottom:0;}
	.padleftpic{padding-left:0px;}
.padleftpic2{padding-left:0px;}
.padleftpic3{padding-left:0px;}
}
/* Project specifics =========================================================== */
/* Pour some CSS below ========================================================= */
